*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}

.empty{
    height: 7.5em;
}
/* ----------------------navbar CSS----------------- */



.navicon{
    position: fixed;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 15px;
    z-index: 10;
    /* transition: all 0.25s linear; */
    transform: translateY(-50%);
    /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.493),rgba(51, 51, 51, 0.479)); */
    transition: all 0.25s linear;
}
.navicon img{
    width: 30px;
}
.navicon a{
    color: white;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    /* background-color: #1ABC9C; */
    /* background-image:  linear-gradient(to right,rgb(0, 255, 200) ,#018b80); */
    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.13);
    background-image:  linear-gradient(45deg,rgba(0, 0, 0, 0.849) 50%,#272727dc 50%);
    /* backdrop-filter: blur(5px); */
}

.navbar ul {
    display: flex;
    /* cursor: pointer; */
    justify-content: center;
    list-style: none;
}
.navbar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em; 
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    margin: 10px 3vw;
    font-size: 1.2em;
    text-align: center;
  }
  .navbar a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navbtn{
      position: absolute;
      right: 0;
      margin: 15px;
      visibility: hidden;
 }
  .line{
      display: block;
      width: 30px;
      border-bottom: 4px solid white;  
      transition: transform 0.6s;
      margin: 0px;
      margin: 6px;
  }
  .lines{
      display: none;
      position: absolute;
      padding: 2.5px;
      cursor: pointer;
      right: 1px;
      top: 15px;
  }
  .line2{
      transition: all 0s ;
  }
  .nav-title{
      display: none;
      color: white;
      font-family: 'Be Vietnam Pro', sans-serif;
      position: absolute;
      left: 50vw;
      transform: translateX(-50%);
      padding: 17.5px;
      font-size: 1.7em;
      transition: 0.5 ease-in-out;
  }
@media (max-width:1100px)
{   
    #navicon-text{
        display: none;
    }
    .nav-title{
        display: block;
    }
    .lines{
        display: block;
    }
    .top-text{
        font-size: 1.25em;
    }
    .navbar ul{
        transform: translateX(-100vw);
        transition: 0.5s ease-in-out;
        background-color: #00d8b4;
        flex-direction: column;
        width: 100%;
    }
    .navbar{
        height: 70px;
    }
    .navbtn:checked ~ .nav-items{
        transform: translateY(0vh);
        transform: translateY(70px);
        width: 100%;
        flex-direction: column;
    }
    .navbtn:checked +.lines .line1{
        transform-origin: 0% 0%;
        transform: rotate(398deg);
        width: 32.5px;
    }
    .navbtn:checked +.lines .line3{
        transform-origin: 0% 0%;
        transform: rotate(-38deg);
        width: 32.5px;
    }
    .navbtn:checked +.lines .line2{
        visibility: hidden;
        width: 32.5px;
    }

}

/* ----------------main-body---------- */


.main{
    /* height: 100vh; */
    width: 100%;

}
.upper-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.336)),url(https://content.timesjobs.com/img/73044086/Master.jpg);
    /* background-size: cover; */
    background-position:top;
    background-repeat: no-repeat;
    height: 60vh;
    background-attachment: fixed;
    background-color: rgb(247, 247, 247);
    /* transform: translateY(5vh); */
    margin-top: 5vh;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    /* height: 200px; */
    z-index: 2;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
}
.card{
    /* width: 450px; */
    max-width: 30%;
    min-width: 300px;
    height: 460px;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    margin: 1%;
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
    flex-grow: 1;
    
}
.copy{
    color: rgb(0, 212, 195);
    cursor: pointer;
}
.addresscopy{
    font-size: 0.95em;
}
.copy a{
    color: rgb(0, 212, 195);
    cursor: pointer;
}
.faa{
    font-size: 3em !important;
    color: rgb(104, 104, 104);
}
.card-text{
    margin: 50px 5px;
}

@media (max-width:900px) {
    .upper-image p{
        font-size: 0.75em;
        padding: 10px;
    }
    .card{
        /* min-height: 400px; */
        max-width: 75%;
    }
    
}



.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: rgba(0, 199, 166, 0.925);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75em;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 216, 162, 0.815) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
/*----- footer css-------- */
footer{
    background-color: #1ABC9C;
    background-image: linear-gradient(45deg,#00d3b0 50%,#00d8b4 50%);
    color: white;
    padding: 45px;
}
.footer-title{
    text-align: center;
    padding: 5px 0px;
}
.footer-title h1{
    border-bottom: 2px solid white;
    display: inline-block;
}
.footer-lower{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.navigation>ul>a>li{
    padding: 5px;
    color: white;
}
.navigation>ul>a>li:hover{
    color: rgb(88, 255, 199);
}
.address{
    padding: 50px;
    max-width: 350px;
    letter-spacing: 2px;
}
.rotated-rect{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 2px solid rgba(255, 255, 255, 0.486);
    margin: 0px 10px;
    box-shadow: 4px 4px 1px 3px rgba(255, 255, 255, 0.164);
    display: inline-block;
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.icon{
    transform: rotate(-22.5deg) scale(1.4) translate(-2.5px ,2.5px);
    color: white;
}
.instagram{
    transform: rotate(-45deg) scale(2.1) translate(-4px,2.5px);
    color: white;

}
.rotated-rect:hover {
    background-color: white;
    color: #1ABC9C;
    transition: all 0.5s linear;
}
.rotated-rect:hover .icon{
    color: #1ABC9C;
}
.rotated-rect:hover .instagram{
    color: #1ABC9C;
}




